<div class="col-md-12">
  <div class="job" style="margin-top:6px;">
    <%= link_to("Add a job", new_admin_job_path, class: "btn btn-primary pull-right action-btn") %>
  </div>

  <!-- adimn job -->
  <div class="admin-job-box">
  <% if @jobs.length > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>职位</td>
        <td>个人浏览</td>
        <td>简历数量</td>
        <td>发布时间</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr class="job-list">
        <td>
            <%= link_to(job.title, admin_job_path(job)) %>
        </td>
        <td>
          <div class="action-box">
            <%= link_to(job_path(job), class: "btn btn-md btn-default") do %>
              <sapn class="fa fa-desktop" aria-hidden="true"></sapn>
            <% end %>
          </div>
        </td>
        <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
        <td><%= job.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <!-- edit/delete/hidden job -->
          <div class="action-box">
          <%= link_to(edit_admin_job_path(job), class: "btn btn-md btn-default") do %>
            <sapn class="fa fa-file-text" aria-hidden="true"></sapn>
          <% end %>
          <%= link_to(admin_job_path(job), class: "btn btn-md btn-default", method: :delete, data: { confirm: "确定删除此职位？" } ) do%>
            <sapn class="fa fa-trash"></sapn>
          <% end %>
          <% if job.is_hidden %>
            <%= link_to(publish_admin_job_path(job), :method => :post, class: "btn btn-md btn-default") do %>
              <sapn class="fa fa-lock"></sapn>
            <% end %>
          <% else %>
            <%= link_to(hide_admin_job_path(job), :method => :post, class: "btn btn-md btn-default show-btn") do %>
              <sapn class="fa fa-unlock"></sapn>
            <% end %>
          <% end %>
          </div>
          <!-- /.edit/delete/hidden job  -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <h3 class="no-data">目前尚未发布任何职位!</h3>
  <% end %>
  </div>
  <!-- /.admin job -->
</div>
