<div class="job-content">
  <!--forward area-->
  <div class="row">
    <!--job title -->
    <div class="col-md-7 col-md-offset-1 job-info-box">
      <h1><%= @job.title %></h1>
      <p>
        <span class="wage"><%= @job.wage_lower_bound %> k ~ <%= @job.wage_upper_bound %> k </span> /
       </p>
      <p class="created"><%= @job.created_at.strftime("%Y-%m-%d") %></p>
    </div>
    <!--/.job title-->

    <!-- forward right area -->
    <div class="col-md-3 job-action-box">
      <div style="color:#365b8c">
        <h2>后台视图</h2>
      </div>
    </div>
    <!-- /.forward right area -->
  </div>
  <!-- /.forward area -->

<hr style="width:85%" />
  <!-- backward area -->
  <div class="row">
    <!-- job description -->
    <div class="col-md-7 col-md-offset-1 job-content-box">
      <div class="content-info">
        <h4>职位描述：</h4>
        <p><%= simple_format(@job.description) %></p>
      </div>
      <hr />
      <div class="mail-info">
        <h4>联络信息：</h4>
        <p class="email"><sapn class="fa envelope-o"></sapn> <%= @job.contact_email %></p>
      </div>
    </div>
    <!-- /.job description -->
  </div>
  <!-- /.job description -->
</div>
